body {
    background-color:#978D8D;
    font-family: Arial;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    }
    
header{
    width: 100%;
    padding: 1rem;
    min-height: 5vh;
    align-items: center;
    background: #B0BD36;
    font-size: 1.5rem;
    position: fixed;
    
}
    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-left: 600px;
        color: white;
    }
    
    h2 {
        font-size: 28px;
    }
    
    p {
      font-size: 18px;
    }
    
    li {
        font-size: 18px;
    }

.topnav {
      background-color: #006445;
      width: 100%;
      overflow: hidden;
      text-align: center;
      padding: 50px;
      margin: auto;
      
      
    }
    
    .topnav a {
      color: white;
      padding: 50px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
      
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #006445;
      color: white;
    }

      footer{
        width: 100%;
        padding: 1rem;
        min-height: 5vh;
        align-items: center;
        background: #B0BD36;
        font-size: 1.5rem;
        position: fixed;
        bottom: 0;
      }

@media screen and (max-width: 768px) and (min-width: 576px) {
  body {
    background-color:#006445;
    font-family: Arial;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-left: 600px;
        color: white;
    }
    
    h2 {
        font-size: 28px;
    }
    
    p {
      font-size: 18px;
    }
    
    li {
        font-size: 18px;
    }

.topnav {
      background-color:#B0BD36;
      overflow: hidden;
      text-align: center;
      border-radius: 20%;
      padding: 50px;
      margin: auto;
      
      
    }
    
    .topnav a {
      color: black;
      padding: 50px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
      
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #006445;
      color: white;
    }

      footer{
        width: 100%;
        padding: 1rem;
        min-height: 5vh;
        align-items: center;
        background: #B0BD36;
        font-size: 1.5rem;
        position: fixed;
        bottom: 0;
      }

}


@media screen and (max-width: 576px) {
  body {
    background-color:#006445;
    font-family: Arial;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-left: 600px;
        color: white;
    }
    
    h2 {
        font-size: 28px;
    }
    
    p {
      font-size: 18px;
    }
    
    li {
        font-size: 18px;
    }

.topnav {
      background-color: #B0BD36;
      overflow: hidden;
      text-align: center;
      border-radius: 20%;
      padding: 50px;
      margin: auto;
      
      
    }
    
    .topnav a {
      color: black;
      padding: 50px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
      
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #006445;
      color: white;
    }

      footer{
        width: 100%;
        padding: 1rem;
        min-height: 5vh;
        align-items: center;
        background:#B0BD36;
        font-size: 1.5rem;
        position: fixed;
        bottom: 0;
      } 
}